/task0409/nbproject/private/
/task0409/build/
/task04/nbproject/private/
/task04/build/
/task05/nbproject/private/
/task05/build/
/task06/nbproject/private/
/task06/build/
/task07/nbproject/private/
/task07/build/
/SQLiteJDBC/nbproject/private/
/SQLiteJDBC/build/
/task08/nbproject/private/
/task08/build/
/db/nbproject/private/
/db/build/
/db/dist/
/Test/nbproject/private/
/Test/build/
/task08/dist/